<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bluetooth
    </ion-title>
    <ion-button slot="end" (click)="scanDevices()">Scan</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bluetooth Detective</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngFor="let device of unpairedDevice">
    <ion-item>{{ device.name || device.address }}</ion-item>
  </div>
</ion-content>
